version: "3.8"
services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb+srv://spicy7577_db_user:EX1bfRWurn1pIs6K@zamazon.ywgygek.mongodb.net/zamazon?retryWrites=true&w=majority&appName=zamazon
      - SMTP_HOST=smtp.gmail.com
      - SMTP_USER=spicy7577@gmail.com
      - SMTP_PASS=irtjxsmczpplloni
    restart: always

  client:
    build: ./client
    ports:
      - "80:5173"
    depends_on:
      - server
    restart: always
